{% load static %}
<!doctype html>
<html class="no-js" lang="en">

    <head>
        <!-- meta data -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <!--font-family-->
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

		<link href="https://fonts.googleapis.com/css?family=Rufina:400,700" rel="stylesheet">
        
        <!-- title of site -->
        <title>ParkNavi</title>

        <!-- For favicon png -->
		<link rel="shortcut icon" type="image/icon" href="{% static 'assets/logo/favicon.png' %}"/>
       
        <!--font-awesome.min.css-->
        <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">

        <!--linear icon css-->
		<link rel="stylesheet" href="{% static 'assets/css/linearicons.css' %}">

        <!--flaticon.css-->
		<link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">

		<!--animate.css-->
        <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">

        <!--owl.carousel.css-->
        <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
		<link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css' %}">
		
        <!--bootstrap.min.css-->
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
		
		<!-- bootsnav -->
		<link rel="stylesheet" href="{% static 'assets/css/bootsnav.css' %}" >	
        
        <!--style.css-->
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        
        <!--responsive.css-->
        <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
        
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		
        <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
	
	<body>
		<!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
	
		<!--welcome-hero start -->
		<section id="home" class="welcome-hero">

			<!-- top-area Start -->
			<div class="top-area">
				<div class="header-area">
					<!-- Start Navigation -->
				    <nav class="navbar navbar-default bootsnav navbar-sticky navbar-scrollspy" data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                                    <i class="fa fa-bars"></i>
                                </button>
                                <a class="navbar-brand" href="/user_profile/">PARKNAVI<span></span></a>
                            </div>
                            <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
                                <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                                    <li class="scroll active"><a href="#home">Home</a></li>
                                    <li><a href="/parking-spaces-map/">My Location</a></li>
                                    <li><a href="/user_profile/">Profile</a></li>
									<li><a href="/area_details/">Available Space</a></li>
									<li><a href="/book_list/">My Bookings</a></li>
									<li><a href="/get_nearby_shops/">Recurring</a></li>
									<li><a href="/trans_history/">History</a></li>
									<li><a href="/xrepay/">Extra Pay</a></li>
                                    <li><a href="/ride/">ride</a></li>

									<li><a href="/logout/">Logout</a></li>

                                </ul>
                            </div>
                        </div>
                    </nav>
                    
				    <!-- End Navigation -->
				</div><!--/.header-area-->
			    <div class="clearfix"></div>

			</div><!-- /.top-area-->
			<!-- top-area End -->

			<div class="container">
				<div class="welcome-hero-txt">
				</div>
			</div>


		</section><!--/.welcome-hero-->
		<!--welcome-hero end -->

		
					
		</section><!--/brand-->	
		<!--brand end -->

		<!--blog start -->
		<section id="blog" class="blog"></section><!--/.blog-->
		<!--blog end --><!-- Contact Us Section -->
<footer>
        <!-- Contact Us Section -->
<section id="contact" class="contact">
    <div class="container">
        <p>&copy; 2025 ParkNavi App. All Rights Reserved. <a href="#">Privacy Policy</a> | <a href="#">Contact Us</a></p>
        <div class="social-icons">
            <a href="https://www.instagram.com/yourusername" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a>
            <a href="https://twitter.com/yourusername" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a>
            <a href="https://wa.me/yourwhatsappnumber" target="_blank" title="WhatsApp"><i class="fa fa-whatsapp"></i></a>
        </div>
    </div>
</section>

<!-- Add this CSS below the other styles to style the contact section -->
<style>
    /* Contact Us Section Styling */
    #contact {
        background-color: #333;
        color: white;
        padding: 40px 0;
        text-align: center;
    }

    .contact-heading {
        font-size: 2.5em;
        font-family: 'Rufina', serif;
        margin-bottom: 20px;
    }

    .social-icons {
        margin-top: 20px;
    }

    .social-icons a {
        color: white;
        font-size: 30px;
        margin: 0 20px;
        transition: color 0.3s ease;
    }

    .social-icons a:hover {
        color: #f44336;
    }
</style>

    </footer>

<!-- Add this CSS below the other styles to style the contact section -->
<style>
    /* Contact Us Section Styling */
    #contact {
        background-color: #333;
        color: white;
        padding: 40px 0;
        text-align: center;
    }

    .contact-heading {
        font-size: 2.5em;
        font-family: 'Rufina', serif;
        margin-bottom: 20px;
    }

    .social-icons {
        margin-top: 20px;
    }

    .social-icons a {
        color: white;
        font-size: 30px;
        margin: 0 20px;
        transition: color 0.3s ease;
    }

    .social-icons a:hover {
        color: #f44336;
    }
</style>


		
									
								
			<div id="scroll-Top">
				<div class="return-to-top">
					<i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
				</div>
				
			</div><!--/.scroll-Top-->
			
        </footer><!--/.contact-->
		<!--contact end-->


		
		<!-- Include all js compiled plugins (below), or include individual files as needed -->

		<script src="{% static 'assets/js/jquery.js' %}"></script>
        
        <!--modernizr.min.js-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
		
		<!--bootstrap.min.js-->
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
		
		<!-- bootsnav js -->
		<script src="{% static 'assets/js/bootsnav.js' %}"></script>

		<!--owl.carousel.js-->
        <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

        <!--Custom JS-->
        <script src="{% static 'assets/js/custom.js' %}"></script>
        
    </body>
	
</html>